html, body {
  height: 100%;
  font: "Helvetica Neue";
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  font-size: x-large;
  background-color: rgba(0,0,0,0.3);
  padding: 0 50px 0px 50px;
}

div {
  line-height: 120%;
}

a {
  color: #e9546e;
  text-decoration: none;
}

ul {
  font-size: 12px;
}

thead {
  font-weight: bold;
  background-color: #8d8d8d;
  color: #fff;
}

li {
  float: left;
}

kbd {
  padding: 2px 4px 2px 4px;
  color: #fff;
  background-color: #e9546e;
}

table {
  font-size: smaller;
}

.nav-item {
  font-size: large;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-head {
  padding: 0px;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.form-select{
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #e9546e;
  padding: 3px 8px 5px 5px;
  margin: 5px;
}

.frameless-select{
  border: none;
}

.svg-panel {
  border: 2px solid #fff;
  border-radius: 5px;
}

.svg-panel:hover {
  border: 2px solid #eee;
}

.frame {
  border: 1.5px solid #e9546e;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0 10px 10px 10px;
  font-size: 12px;
}

.framed-content {
  border: 1px solid #e9546e;
  padding: 10px;
  border-radius: 10px;
}

.title {
  padding: 5px 10px 5px 10px;
  margin-top: 20px;
  background-color: #e9546e;
  border-radius: 10px 10px 0 0;
  color: white;
  max-width: 400px;
  font-size: larger;
  font-weight: bold;
}

.info {
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  min-height: 125px;
}

*,
*:focus,
*:hover {
  outline: none;
}

.leaflet-control-layers.leaflet-control {
  padding: 0 4px 0 4px;
  height: 45px;
}

.leaflet-control-layers-toggle {
  padding: 0;
}

.new-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.new-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.new-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 4px 4px 4px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #e8e5e3;
}

.new-container:hover input ~ .new-label {
  background-color: #f0f0f0;
}

.new-container input:checked ~ .new-label {
  background-color: #e9546e;
  color: #fff;
}

.new-label:after {
  content: "";
  position: absolute;
  display: none;
}

.new-container input:checked ~ .new-label:after {
  display: block;
}

.page-tab {
  display: inline;
  position: relative;
  margin-right: 70px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.page-tab input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.page-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  padding: 5px 10px 6px 10px;
  background-color: #e8e5e3;
}

.page-tab:hover input ~ .page-label {
  background-color: #f0f0f0;
}

.page-tab input:checked ~ .page-label {
  background-color: #e9546e;
  color: #fff;
}

.page-label:after {
  content: "";
  position: absolute;
  display: none;
}

.page-tab input:checked ~ .page-label:after {
  display: inline;
}

.map-btn {
  padding: 0;
  margin: 0px 0px 2px 0px;
  width: 26px;
  height: 25px;
  color: #e9546e;
  background: #e8e5e3;
  font-size: large;
  border: 1px solid white;
  border-radius: 50%;
}

.map-btn:hover {
  background-color: #ffb3bb;
}